@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  height: 100%;
} */
body {
  /* background-image: linear-gradient(
    to right top,
    #a187f1,
    #b18ff2,
    #c098f3,
    #cda1f4,
    #d9abf5,
    #e3b1f3,
    #ebb7f0,
    #f2beef,
    #f8c2ea,
    #fcc7e6,
    #fecde3,
    #ffd3e2
  ); */
  background-size: 100% 100%;
  min-height: 100%;
  width: 100%;
  /* overflow: hidden; */
  /* color: rgb(39, 37, 37); */
  /* color: rgb(32, 32, 44); */
  color: #023047;
  font-family: "Martel Sans", sans-serif;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffd3e2;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(254.72, 79%, 74%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(285.45, 73%, 82%) 0, transparent 55%);
}

.text-sidebar {
  font-size: 18px;
}

.box-shadow {
  box-shadow: -4px 4px 24px -5px rgba(0, 0, 0, 0.84);
}

.card {
  backdrop-filter: blur(25px) saturate(79%);
  -webkit-backdrop-filter: blur(25px) saturate(79%);
  background-color: rgba(189, 16, 224, 0.17);
  /* border-radius: 12px; */
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.card-f {
  background: rgba(229, 11, 163, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-g {
  backdrop-filter: blur(25px) saturate(149%);
  -webkit-backdrop-filter: blur(25px) saturate(149%);
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.modalBackGround {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  background-size: cover;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(189, 16, 224, 0.17);
  border-radius: 20px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: white;
} */

@layer base {
  .footer {
    @apply flex-row justify-center items-center;
  }

  .bg-gradient {
    @apply bg-gradient-to-r from-purple-500 to-fuchsia-500 text-white;
  }
}

@layer components {
  .btn-red {
    /* @apply bg-gradient-to-r from-blue-400 to-purple-600  hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mx-5; */
    @apply bg-red-600 font-bold py-2 px-4 rounded mx-5;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-purple-500 to-fuchsia-500 font-bold py-2 px-4 rounded mx-5 text-white;
  }
}
