@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("https://image.freepik.com/free-vector/dynamic-gradient-grainy-background_23-2148964100.jpg");
  background-size: cover;
} */

.box-shadow {
  box-shadow: -4px 4px 24px -5px rgba(0, 0, 0, 0.84);
}

.card {
  /* backdrop-filter: blur(5px); */
  /* background: rgba(255, 255, 255, 0.15); */
  /* background: yellow; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modalBackGround {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  background-size: cover;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer base {
  .footer {
    @apply flex-row justify-center items-center;
  }
}

@layer components {
  .btn-red {
    /* @apply bg-gradient-to-r from-blue-400 to-purple-600  hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mx-5; */
    @apply bg-red-600 font-bold py-2 px-4 rounded mx-5;
  }

  .btn-gradient {
    @apply bg-gradient-to-r from-blue-400 to-purple-600  hover:bg-purple-500 text-white font-bold py-2 px-4 rounded mx-5;
  }
}
